a:link, a:visited, a:hover, a:link:active, a:visited:active {
    color: inherit;
    outline: 0;
    text-decoration: none;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: 'Toyota Display',sans-serif;
	
}

nav li {
    list-style: none;
}

.none {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: green;
    opacity: 0.2;
    z-index: 2;
}

.main-navigation {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 8px;
    width: 225px;
    height: 100%;
    background: red;
    opacity: 0.5;
    transform: translateX(-100%);
    transition: transform 0.6s ease;
    z-index: 4;
}

.main-navigation.open {
    transform: translateX(0);
    
}

.main-navigation ul {
    margin: 0;
    padding: 0;
}

.main-navigation ul a{
    padding: 10px 20px;
    display: block;
}




.side-menu {
/*    display: none;*/
    position: fixed;
    z-index: 1;
    top: 0;
    width: 280px;
    height: 100%;
    background-color: #1D1F21;
    margin: 0;
    padding: 14px 30px;
    transform: translateX(-px)
}


.nav {
	position: fixed;
	top: 0;
	height: 60px;
	width: 100%;
	background-color: #334048;
	
}

.nav-container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0px 30px;
}

.container {
	max-width: 960px;
	margin: 90px auto;
	padding: 0px 30px;
}

.homeicon {
	display: inline-block;
	margin: 0;
	padding-top: 14px;
	vertical-align: middle;
	font-size: 25px;
	color: #E0E7EE;
}

.menuicon {
	display: inline-block;
	margin: 0;
	padding-top: 14px;
    padding-right: 5px;
	vertical-align: middle;
	font-size: 25px;
	color: #E0E7EE;
}

.homeicon a:hover {
	color: #FFFFFF;
}

.nav-title {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding-top: 12px;
	padding-left: 20px;
	font-weight: normal;
	letter-spacing: 0.5px;
	font-size: 17px;
	color: #E0E7EE;
}

.nav-title a:hover {
	color: #FFFFFF;
}

.page-title {
	margin: 0;
	font-weight: bold;
	font-size: 2em;
/*	color: #1E2A32;*/
    color: #334048;
}